.Task{
    display: flex;
    align-items: center;
    
    background-color: white;
    margin: 6px 4px;
    height: 40px;
    border-radius: 12px;
    justify-content: space-between;
    

}
.line{
    text-decoration: line-through;
}